{% extends "base.html" %}

{% block main %}


<!-- Header -->
<div class="header pb-6">
    <div class="container" style="margin-top:30px">
        <div class="header-body">
            <div class="row align-center">
                <nav aria-label="breadcrumb" class=" navbar d-md-inline-block col-sm-4 bg-dark rounded">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark text-white">
                        <li class="breadcrumb-item"><a href="#">Covid Mapp</a></li>
                        <li class="active breadcrumb-item">Map</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container mt--6" style="margin-top:1rem;">
    <div class="row">
        <div class="col">
            <div class="card border-0">
                <div id="mapid" class="map-canvas rounded"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}