<!-- Sidebar -->
    <nav id="offcanvasNav" class="sidenav navbar navbar-vertical navbar-fixed-top avbar-slide-nav navbar-light bg-dark text-white offcanvas offcanvas-start">

        <div class="sidebar-header offcanvas-header">
            <a class="navbar-brand text-center" href="#">
                <img src="./static/images/jamaica-circular.png" width="80" height="80" alt="">
                <h3 class="offcanvas-title text-white">COVID Mapp</h3>
            </a>
        </div>
        <div class="navbar-inner offcanvas-body">
            <div class="navbar-collapse" id="sidenav-collapse">
                <p class="text-center h5 menu">Menu</p>
                <ul class="navbar-nav mb-md-3">
                    <li class="active nav-item mainMenu">
                        <a  class="nav-link" href="/">
                            <i class="fa fa-desktop text-white"></i>
                            <span class="nav-link-text text-white">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item mainMenu">
                        <a  class="nav-link" href="/map">
                            <i class="fa fa-map-marker text-primary"></i>
                            <span class="nav-link-text text-white">Map</span>
                        </a>
                    </li>
                    <li class="nav-item mainMenu daline">
                        <a  class="nav-link" href="#">
                            <i class="fa fa-table text-success"></i>
                            <span class="nav-link-text text-white">Tables?</span>
                        </a>
                    </li>
                </ul>

                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Resources</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.moh.gov.jm/" target="_blank">
                            <i class="fa fa-newspaper-o resources"></i>
                            <span class="nav-link-text resources">Official Updates</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank">
                            <i class="fa fa-globe resources"></i>
                            <span class="nav-link-text resources">WHO Disclosures</span>
                        </a>
                    </li>

                </ul>
            </div>
            </div>
</nav>